<div class="container mt-5" *ngIf="!quizFinished">
  <div class="d-flex justify-content-center row">
    <div class="col-md-10 col-lg-10">
      <div class="border">
        <div class="question bg-white p-3 border-bottom">
          <div class="d-flex flex-row justify-content-between align-items-center mcq">
            <h4><h3>Catégorie : {{ questions[currentQuestionIndex].category }}</h3></h4><span>Temps: {{ timerDisplay }}s / 15s</span></div>
        </div>
        <div class="question bg-white p-3 border-bottom">
          <div class="d-flex flex-row align-items-center question-title">
            <h3 class="text-danger">Q.</h3>
            <h5 class="mt-1 ml-2">Questions : {{ questions[currentQuestionIndex].question }}</h5>
          </div><div class="ans ml-2">
          <label class="radio"> <input (click)="checkAnswer(true)" type="radio" name="brazil"> <span>Vrai</span>
          </label>
        </div><div class="ans ml-2">
          <label class="radio"> <input (click)="checkAnswer(false)" type="radio" name="Germany"> <span>Faux</span>
          </label>
        </div></div>
        <div class="d-flex flex-row justify-content-between align-items-center p-3 bg-white"><button  (click)="prevQuestion()" class="btn btn-primary d-flex align-items-center btn-danger" type="button"><i class="fa fa-angle-left mt-1 mr-1"></i>&nbsp;previous</button><button (click)="nextQuestion()"class="btn btn-primary border-success align-items-center btn-success" type="button">Next<i class="fa fa-angle-right ml-2"></i></button></div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="quizFinished" class="container mt-5">
  <div class="d-flex justify-content-center row">
    <div class="col-md-10 col-lg-10">
      <div class="border">
  <h3>Quiz terminé</h3>
  <p>Votre score : {{ score }} / {{ questions.length }}</p>
  <button class="radio" (click)="restartQuiz()">Restart Quiz</button>
</div>
    </div>
  </div>
</div>
