<section class="intro">
  <div class="bg-image h-100">
    <div class="mask d-flex align-items-center h-100" style="background-color: white;">
      <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-12 col-lg-9 col-xl-8">
            <div class="card" style="border-radius: 1rem;">
              <div class="row g-0">
                <div class="col-md-4 d-none d-md-block">
                  <img src="https://mdbootstrap.com/img/Photos/Others/sidenav2.jpg"
                       alt="login form"
                       class="img-fluid" style="border-top-left-radius: 1rem; border-bottom-left-radius: 1rem; width: 100%; height : 100%;" />
                </div>
                <div class="col-md-8 d-flex align-items-center">
                  <div class="card-body py-5 px-4 p-md-5">

                    <form (ngSubmit)="onSubmit()">
                      <h4 class="fw-bold mb-4" style="color: #92aad0;">Créé votre carte de visite</h4>
                      <p class="mb-4" style="color: #45526e;">Veuillez saisir un Prénom, Nom, Metier, Description</p>
                      <div class="form-outline mb-4">
                        <input type="text" id="formPrénom" name="prenom" class="form-control" [(ngModel)]="prenom" />
                        <label class="form-label" for="formPrénom">Prénom</label>
                      </div>

                      <div class="form-outline mb-4">
                        <input type="text" id="formNom" name="nom" class="form-control" [(ngModel)]="nom" />
                        <label class="form-label" for="formNom">Nom</label>
                      </div>
                      <div class="form-outline mb-4">
                        <input type="text" id="formMetier" name="metier" class="form-control" [(ngModel)]="metier" />
                        <label class="form-label" for="formMetier">Metier</label>
                      </div>
                      <div class="form-outline mb-4">
                        <input type="text" id="formDescription" name="description" class="form-control" [(ngModel)]="description" />
                        <label class="form-label" for="formDescription">Description</label>
                      </div>

                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br />
<section class="mx-auto my-5" style="max-width: 23rem;">
  <div class="card testimonial-card mt-2 mb-3" style="border-top-left-radius: 1rem; border-top-right-radius: 1rem;">
    <div class="card-up">
      <img src="https://mdbootstrap.com/img/Photos/Others/sidenav2.jpg"
           alt="login form"
           class="img-fluid" style="border-top-left-radius: 1rem; border-top-right-radius: 1rem; width: 100%; height : 100%;" />

    </div>
    <div class="avatar mx-auto white">
      <img src="https://th.bing.com/th/id/OIP.4HHuAIYQNo5knFczxt21nQHaHa?rs=1&pid=ImgDetMain" class="rounded-circle img-fluid"
           alt="avatar">
    </div>
    <div class="card-body text-center">
      <h4 class="card-title font-weight-bold">{{ prenom }} {{ nom }}</h4>
      <h6>{{ metier }}</h6>
      <hr>
      <p>
        <i class="fas fa-quote-left"></i>{{ description }}
      </p>
    </div>
  </div>
</section>
